.flex {
    display: flex;
}

button {
    font-family: Futura, Arial, Helvetica, sans-serif;
    font-size: 18px;
    border: none;
}

:root {
    --content-width: 78%;
    --card-height: 544px;
}

.s-hidden {
    visibility: hidden;
    display: none;
}

