@media screen and (min-width: 1024px) {
    .s-hidden {
        visibility: unset;
        display: flex;
    }

    .m-hidden {
        visibility: hidden;
        display: none;
    }

    body {
        min-width: 1024px;
    }

    nav {
        justify-content: space-between;
    }

    .hero {
        background-size: cover;
    }

    .hero-btn {
        background: #1D6D37;
        height: 56px;
        width: 250px;
        color: white;
    }

    .hero-btns {
        align-items: center;
        justify-content: space-between;
        height: 9rem;
        flex-direction: column;
        margin-top: 2rem;
    }

    .product-card,
    .product-pic {
        width: 50vw;

    }

    main.grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .grid-item-1 {
        grid-column-start: 1;
        grid-row: 2;
    }

    .grid-item-2 {
        grid-column-start: 2;
    }

    .contact-content {
        padding: 0;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .contact-content>* {
        width: var(--content-width);
        justify-self: center;

    }

    .footer-content {
        max-width: 40rem;
    }
}